.footer {
    width: 100vw;
    height: 250px;
    background-color: #DCD8D1;
    font-size: 17px;
}
.footer-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0px;
}
.footer-logo-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}
.footer-logo-symbol {
    width: 180px;
}
.footer-logo-signature {
    width: 180px;
}
.footer-contact-area {
    flex: 1;
    height: 100%;
}
.footer-contact-title {
    color: rgba(50, 60, 67, 0.69);
}
.footer-contact-info {
    color: #323C43;
}

.footer-address-area {
    flex: 1;
    height: 100%;
}
.footer-address-title {
    color: rgba(50, 60, 67, 0.69);
}
.footer-address-info {
    color: #323C43;
}

@media (max-width: 1024px) {
    .footer {
        height: auto;

    }
    .footer-area {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-contact-area {
        text-align: center;
    }
    .footer-address-area {
        text-align: center;
    }
}

